.container {
    /* flex-direction: column-reverse; */
    gap: 20px;
    justify-content: space-around;
    /* justify-content: center; */
    /* justify-content: space-around; */
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 2px solid darkcyan;
    height: 100px;
    font-size: 2rem;
}

.user-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.user {
    border: 2px solid blueviolet;
    height: 100px;
    font-size: 2rem;
}

.picture-container {
    display: flex;
    border: 2px solid fuchsia;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.picture {
    border: 2px solid palegreen;
    width: 200px;
    height: 75px;
}

.img-1 img {
    height: 75px;
    width: 170px;
}

.img-2 img {
    height: 75px;
    width: 170px;
}

.img-3 img {
    height: 75px;
    width: 170px;
}
.img-4 img {
    height: 75px;
    width: 170px;
}

.container div {
    border: 2px dotted green;
}

.img-1{
    position: relative;
    top: 50px;
    left: 50px;
}
.img-3{
    position: relative;
    top: 50px;
    left: 50px;
}
.img-4{
    position: sticky;
    top: 50px;
    left: 50px;
}
.img-3{
    position: relative;
    top: 50px;
    left: 50px;
}

