body{
    background-color: darkgrey;
}
.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 80px);
    gap: 10px;
}

.day , .day-name{
    background-color: lightblue;
    height: 50px;
    width: 50px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.day-name{
    font-weight: bold;
    height: 30px;
    background-color: #83f4d0;
}


